<header class="navbar navbar-default ">
  <div class="container">
    <nav>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="current_user" title="Sign Out">
            <%= link_to current_user.name, session_path(current_user), method: :delete %>
          </li>
        <% else %>
          <li title="Sign In"><%= link_to "Sign In", new_session_path %></li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
